
/* .todoList-wrp {
} */

.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.todoList-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
}
.todoList-item.done {
    background: limegreen;
}

.todoList-item-title {
    margin-right: 10px;
}

.todoList-item-description {
    margin-right: 10px;
}

.todoList-item-date {
    margin-right: 10px;
}

.todoList-item-delete {
    margin-left: auto;
}
